@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Oooh+Baby&display=swap');

:root {
    --background-color: rgb(0, 214, 170, .85);
}

main {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    font-family: 'Calistoga', cursive;
    font-size: x-small;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--background-color); */

}

.logo  > img{
    max-width: 300px;
    /* border: 3px solid red; */
}

#nav-bar  ul{
    /* background-color: aqua; */
    width: fit-content;
    display: flex;
}

#nav-bar li {
    list-style: none;
    display: block;

}

#nav-bar li a {
    font-size: large;
    text-decoration: none;
    color: black;
    padding: .65rem;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container > h2 {
    font-size: xx-large;
}

#form {
    display: flex;
    flex-direction: column;
}


#email {
    font-size: medium;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

#submit {
    font-size: medium;
    font-weight: bold;
    padding: 5px 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-it-works > p {
    font-style: italic;
}

.icon {
    display: flex;
}

.icon > img{
    max-width: 150px;
    display: inline-block;
}

.grid {
    display: flex;
    margin: 0;
    padding: 0;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

#features .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 5px;
    width: 80vw;
    /* border: 3px solid green; */
}

#features h2 {
    margin: 0;
    /* border: 2px solid blue; */
}